@{
    ViewData["Title"] = "صفحه اصلی ";
}


<section id="home">
    <div class="intro-wrapper">
        <h2 class="iiimmm">فروشگاه آنلاین</h2>
        <p>
            @ViewData["headingTitle"]
        </p>
        <button>محصولات</button>
    </div>
</section>

<section id="aboutus">
    <div class="about-wrapper">
        <div class="about-text">
            <h2>درباره ما</h2>
            <p>
                @ViewData["headingText"]
            </p>
        </div>
    </div>
</section>

<Partial name="MyProduct" />

