
@{
    ViewData["Title"] = "kala";
}

@* <partial name="Prodoct" />
 *@
@* @await Html.PartialAsync("Product")
 *@
@await Component.InvokeAsync("Product")


<p class="offer">حراجی ها</p>


@await Component.InvokeAsync("Discount")




