<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>  پارس شاپ | @ViewData["Title"] </title>
    <link href="~/https://fonts.googleapis.com/css2?family=Vazir&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/ASP--STYLES/styles11.css" />
</head>
<body>
    <!-- Hero image with centered text -->
    <div class="hero-image">
        <div class="centered-text">
            <h1>فروشگاه آنلاین</h1>
            <div class="choose-and-buy-container">
                <p>انتخاب کنید و خرید کنید!</p>
            </div>
        </div>
    </div>

    <!-- Site header -->

    <Partial  name="Header"/>

    <!-- Home section -->
    <div>
        @RenderBody()
    </div>

    <!-- Site Footer -->

    <Partial name="Footer" />

    <!-- Home section -->


    <script src="~/scripts.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
