<footer>
    <div class="social-images">
        <a href="https://t.me/your_telegram_handle" target="_blank">
            <img class=" hhhhh" src="359874_telegram logo High quality High quality_xl-1024-v1-0.png" alt="Telegram">
        </a>
        <a href="https://www.instagram.com/your_instagram_handle" target="_blank">
            <img class=" hhhhh" src="311206_instagram logo High quality High quality_xl-1024-v1-0.png" alt="Instagram">
        </a>
    </div>
    <p>&copy; 2023 فروشگاه آنلاین</p>
</footer>