<header>
    <div class="container header-container">
        <div class="header-content">
            <!-- Replace the logo URL with the one matching your brand -->
            <a href="index" class="logo">
                <img class="logoo" src="~/9bf09583668c9ac9d9d076e60e361f074808034ac3ec61.jpg" alt="home"  />
            </a>
            <nav>
                <ul>
                    <li><a href="@Url.Action("Contact" ,"home")">ارتباط با ما</a></li>
                    <li><a href="@Url.Action("about" ,"home")">| درباره ما</a></li>
                    <li><a href="@Url.Action("kala" ,"home")">|  محصولات</a></li>
                    <li><a href="@Url.Action("index" ,"home")">|  خانه</a></li>

                </ul>
            </nav>
            <span class="mobile-menu-icon">&#9776;</span>
        </div>
    </div>
</header>